* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

header {
    padding: 40px 10px;
    background-color: lightcoral;
    color: #333;
}
